frontend lb-01
    bind *:80
    mode http
    option httplog
    option forwardfor
    redirect scheme https code 301 if !{ ssl_fc }
     # default_backend backend_servers

frontend lb-01-ssl\n\
    bind *:443 ssl crt /etc/ssl/holberton.online/holberton.online.pem\n\
    reqadd X-Forwarded-Proto:\ https\n\
    default_backend webservers\n\

frontend letsencrypyt-frontend
    bind *:80
    mode http
    option forwardfor
    acl letsencrypt-acl path_beg -i /.well-known/acme-challenge/
    use_backend letsencrypt-backend if letsencrypt-acl

backend webservers
    balance roundrobin
    server 249184-web-01 18.234.249.64:80 check\n\
    server 249184-web-02 100.24.253.247:80 check

backend letsencrypt-backend
    mode http
    server letsencrypt-server 34.201.164.244:8888